name: "Build, Test, Deploy"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: "Build"
        run: |
          echo "Building..."
      - name: "Test"
        run: |
          echo "Testing..."
      - name: "Deploy to Staging"
        uses: vanmumuuu/deployment-to-environments/.github/workflows/deploy-to-staging.yaml@main
      - name: "Deploy to Production"
        uses: vanmumuuu/deployment-to-environments/.github/workflows/deploy-to-production.yaml@main